<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
            <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        {% endblock %}



    </head>
    <body>
    {% block parts %}

    {% include'parts/header.html.twig'  with{'name':'header'} %}
    {% include'parts/nav.html.twig' with{'name':'nav'} %}
    {% endblock %}
    {% block sidebar %}

    {% endblock %}
    <h1> {{ 'all_articles'|trans }}</h1>


    {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}


    {% block partsdeux %}
    {% include'parts/footer.html.twig' with{'name':'footer'} %}
    {% endblock %}
    </body>
</html>